html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.bg{
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}
.landing{
  background-image: url("../resources/Landing.png");
}
.btn-continue{
  background-image: url("../resources/Boton.png");
  background-size: cover;
}